%no-space {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

// ---------Настройки шрифтов
// Базовый шрифт
%baseFont {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
}

%fontParagraph {
    color: #404040;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

// шрифт ссылок
%linkFont {
    @extend %baseFont;
    text-decoration: none;
    text-transform: uppercase;
}

.header-text {
    @extend %no-space;
    font-family: Georgia;
    font-size: 45px;
    font-weight: 700;
    color: #a38b70;
}

body {
    @extend %no-space;
}

.section--dark {
    background-color: #f2f2f2;
}

.story__link {
    float: right;
}

.stories__caption {
    display: flex;
    align-items: flex-end;
}

.stories__header {
    @extend %no-space;
    padding-right: 10px;
    font-family: Arial;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.stories__photo {
    width: 100px;
    height: auto;
    float: left;
}

.stories__info {
    @extend %no-space;
    margin-left: 130px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    color: #404040;
}

.comments__button {
    float: right;
}

.comments__item {
    float: left;
    width: 50%;
    box-sizing: border-box;
    border-left: 2px solid #a38b70;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Arial;
    font-size: 16px;
}

.comments__text {
    @extend %no-space;
    padding-bottom: 25px;
    font-weight: lighter;
    line-height: 24px;
}

.comments_author {
    color: black;
    font-weight: 700;
    font-style: italic;
}

.comments__header-text {
    padding-bottom: 60px;
}

.stories__author {
    @extend %no-space;
    font-family: Arial;
    color: #666;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
}

.linkOut {
    position: relative;
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    text-decoration: underline;
    color: #a38b70;
}

.linkOut::after {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    right: -15px;
    background: url("../img/linkOut.png") center center no-repeat;
    content: "";
}

.stories__text {
    @extend %no-space;
    padding-top: 15px;
    padding-bottom: 65px;
}

.section {
    box-sizing: border-box;
    padding-top: 70px;
    padding-bottom: 70px;
    overflow: auto;
}

.section__wrapper {
    width: 1020px;
    // min-width: 1020px;
    margin: 0 auto;
}

.header {
    // блок
    min-width: 1020px;
    height: 525px;
    margin: 0;
    padding: 30px 0;
    // шрифт
    // оформление
    background: url('../img/headerBack.jpg') no-repeat;
    background-size: 100% auto;
}

.header__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin-bottom: 145px;
}

.header__button {
    margin-left: auto;
}

.mainNavigation {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
}

.header__logo {
    padding-right: 125px;
}

.mainNavigation__list {
    @extend %no-space;
}

.mainNavigation__link,
.mainNavigation__link:visited {
    @extend %linkFont;
    position: relative;
}

.mainNavigation__link:hover {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.button {
    @extend %baseFont;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 15px 40px;
    display: block;
    background-color: transparent;
    border: 2px solid white;
}

.button--dark {
    border: 2px solid #a38b70;
    text-decoration: none;
    color: #a38b70;
}


/*.header__slogan::after {
    display: block;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: red;
    top: 0;
    margin-top: -10px;
}*/

.header__element--logo {
    margin-right: 127px;
}

.header__element--button {
    margin-left: auto;
}

.mainNavigation__item {
    list-style: none;
    float: left;
    margin-right: 50px;
}

.header__slogan {
    @extend %baseFont;
    color: white;
    font-family: Georgia;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
}

.show * {
    outline: 1px rgba(0, 238, 255, 0.20) solid;
}

.advantages {
    display: block;
    padding-top: 145px;
    // min-height: 295px;
    @extend %fontParagraph;
    overflow: auto;
}

.advantages__list {
    list-style: none;
}

.advantages__text {
    padding-bottom: 30px;
    font-family: Georgia;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #a38b70;
}

.advantages__item {
    display: block;
    position: relative;
    width: 33%;
    float: left;
    text-align: center;
    @extend %no-space;
}

.advantages__item::before {
    position: absolute;
    top: -95px;
    left: 50%;
    // left: 50%;
    // block
    display: block;
    width: 75px;
    height: 75px;
    //style
    background: url("../img/advantages_1.png") no-repeat center center;
    // background-color: red;
    //other
    content: "";
    transform: translateX(-50%);
}

.advantages__text {
    @extend %no-space;
}

.advantages__description {
    padding-bottom: 65px;
    @extend %no-space;
}

.advantages__item--select::before {
    background: url("../img/advantages_1.png") no-repeat center center;
}

.advantages__item--quality::before {
    background: url("../img/advantages_2.png") no-repeat center center;
}

.advantages__item--secure::before {
    background: url("../img/advantages_3.png") no-repeat center center;
}

.popularGoods__button {
    float: right;
}

.popularGoods__header {
    padding-bottom: 70px;
}

.popularGoods__item {
    width: 30%;
    float: left;
    margin-right: 50px;
}

.good {
    border: 1px solid #a38b70;
    box-sizing: border-box;
}

.good__img {
    width: 100%;
    height: auto;
}

.good__name,
.good__price {
    @extend %no-space;
}

.good__name {
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: black;
}

.popularGoods__item--last {
    margin-right: 0;
}

.good__info {
    @extend %no-space;
    padding: 25px;
}

.good__price {
    display: block;
    float: right;
    color: #404040;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.good__price::after {
    display: table;
    content: "";
    clear: both;
}