.no-space {
    margin: 0;
    padding: 0;
}

// ---------Настройки шрифтов
// Базовый шрифт
%baseFont {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
}

// шрифт ссылок
%linkFont {
    @extend %baseFont;
    text-decoration: none;
    text-transform: uppercase;
}

body {
    @extend .no-space;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

.header {
    // блок
    min-height: 525px;
    margin: 0;
    padding: 30px 0;
    // шрифт
    // оформление
    background: url('../img/headerBack.jpg') no-repeat;
    background-size: 100% auto;
}

.header__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin-bottom: 145px;
}

.mainNavigation__list {
    @extend .no-space;
}

.mainNavigation__link,
.mainNavigation__link:visited {
    @extend %linkFont;
    position: relative;
}

.mainNavigation__link:hover {
    border-bottom: 4px solid white;
    padding-bottom: 5px;
}

.button {
    @extend %baseFont;
    text-transform: uppercase;
    padding: 0px 45px;
    display: block;
    background-color: transparent;
    border: 2px solid white;
}


/*.header__slogan::after {
    display: block;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: red;
    top: 0;
    margin-top: -10px;
}*/

.header__element--logo {
    margin-right: 127px;
}

.header__element--button {
    width: 170px;
    height: 50px;
    margin-left: auto;
}

.mainNavigation__item {
    list-style: none;
    float: left;
    margin-right: 50px;
}

.header__slogan {
    @extend %baseFont;
    // Шрифт
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

.show * {
    outline: 1px rgba(0, 238, 255, 0.20) solid;
}